[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
transformers = "*"
matplotlib = "*"
pandas = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
httpx = "*"
pytest-cov = "*"
python-multipart = "*"
aiofiles = "*"
clamd = "*"
python-dotenv = "*"
fastapi-versioning = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
hdbscan = "*"
bertopic = "*"
minio = "*"
pytest-asyncio = "*"

[dev-packages]
black = "==19.10b0"
isort = "*"
flake8 = "*"
ipykernel = "*"
autopep8 = "*"
fastapi-code-generator = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
