absl-py==2.5.0 ; python_version >= "3.13" and python_version < "3.14"
aiofiles==24.1.0 ; python_version >= "3.13" and python_version < "3.14"
aiohappyeyeballs==2.7.1 ; python_version >= "3.13" and python_version < "3.14"
aiosignal==1.4.0 ; python_version >= "3.13" and python_version < "3.14"
annotated-doc==0.0.4 ; python_version >= "3.13" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.13" and python_version < "3.14"
anyio==4.14.2 ; python_version >= "3.13" and python_version < "3.14"
astroid==2.15.8 ; python_version >= "3.13" and python_version < "3.14"
astunparse==1.6.3 ; python_version >= "3.13" and python_version < "3.14"
attrs==26.1.0 ; python_version >= "3.13" and python_version < "3.14"
bertopic==0.14.1 ; python_version >= "3.13" and python_version < "3.14"
boto3-stubs[s3]==1.43.57 ; python_version >= "3.13" and python_version < "3.14"
boto3==1.40.26 ; python_version >= "3.13" and python_version < "3.14"
botocore-stubs==1.43.14 ; python_version >= "3.13" and python_version < "3.14"
botocore==1.40.76 ; python_version >= "3.13" and python_version < "3.14"
certifi==2025.11.12 ; python_version >= "3.13" and python_version < "3.14"
charset-normalizer==3.4.9 ; python_version >= "3.13" and python_version < "3.14"
click==8.4.2 ; python_version >= "3.13" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.13" and python_version < "3.14" and (platform_system == "Windows" or sys_platform == "win32")
contourpy==1.3.3 ; python_version >= "3.13" and python_version < "3.14"
coverage[toml]==7.15.2 ; python_version >= "3.13" and python_version < "3.14"
ctransformers==0.2.27 ; python_version >= "3.13" and python_version < "3.14"
cuda-bindings==13.3.1 ; platform_system == "Linux" and python_version < "3.14" and python_version >= "3.13"
cuda-pathfinder==1.6.0 ; platform_system == "Linux" and python_version < "3.14" and python_version >= "3.13"
cuda-toolkit[cublas,cudart,cufft,cufile,cupti,curand,cusolver,cusparse,nvjitlink,nvrtc,nvtx]==13.0.3 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
cycler==0.12.1 ; python_version >= "3.13" and python_version < "3.14"
cython==3.2.9 ; python_version >= "3.13" and python_version < "3.14"
dill==0.4.1 ; python_version >= "3.13" and python_version < "3.14"
distlib==0.4.3 ; python_version >= "3.13" and python_version < "3.14"
distro==1.9.0 ; python_version >= "3.13" and python_version < "3.14"
faiss-cpu==1.14.3 ; python_version >= "3.13" and python_version < "3.14"
fastapi-versioning==0.10.0 ; python_version >= "3.13" and python_version < "3.14"
fastapi==0.135.4 ; python_version >= "3.13" and python_version < "3.14"
filelock==3.32.0 ; python_version >= "3.13" and python_version < "3.14"
flatbuffers==25.12.19 ; python_version >= "3.13" and python_version < "3.14"
fonttools==4.63.0 ; python_version >= "3.13" and python_version < "3.14"
frozenlist==1.8.0 ; python_version >= "3.13" and python_version < "3.14"
fsspec==2025.12.0 ; python_version >= "3.13" and python_version < "3.14"
gast==0.7.0 ; python_version >= "3.13" and python_version < "3.14"
google-pasta==0.2.0 ; python_version >= "3.13" and python_version < "3.14"
gpt4all==2.8.2 ; python_version >= "3.13" and python_version < "3.14"
greenlet==3.5.4 ; python_version >= "3.13" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.83.0 ; python_version >= "3.13" and python_version < "3.14"
h11==0.16.0 ; python_version >= "3.13" and python_version < "3.14"
h5py==3.16.0 ; python_version >= "3.13" and python_version < "3.14"
hdbscan==0.8.44 ; python_version >= "3.13" and python_version < "3.14"
hf-xet==1.5.2 ; python_version >= "3.13" and python_version < "3.14" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "arm64" or platform_machine == "aarch64")
httpcore2==2.9.1 ; python_version >= "3.13" and python_version < "3.14"
httpcore==1.0.9 ; python_version >= "3.13" and python_version < "3.14"
httpx-sse==0.4.3 ; python_version >= "3.13" and python_version < "3.14"
httpx2==2.9.1 ; python_version >= "3.13" and python_version < "3.14"
httpx==0.28.1 ; python_version >= "3.13" and python_version < "3.14"
huggingface-hub==1.25.1 ; python_version >= "3.13" and python_version < "3.14"
idna==3.18 ; python_version >= "3.13" and python_version < "3.14"
iniconfig==2.3.0 ; python_version >= "3.13" and python_version < "3.14"
isort==5.13.2 ; python_version >= "3.13" and python_version < "3.14"
jaraco-context==6.1.2 ; python_version >= "3.13" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.13" and python_version < "3.14"
jmespath==1.1.0 ; python_version >= "3.13" and python_version < "3.14"
joblib==1.5.3 ; python_version >= "3.13" and python_version < "3.14"
jsonpatch==1.33 ; python_version >= "3.13" and python_version < "3.14"
jsonpointer==3.1.1 ; python_version >= "3.13" and python_version < "3.14"
keras==3.15.0 ; python_version >= "3.13" and python_version < "3.14"
kiwisolver==1.5.0 ; python_version >= "3.13" and python_version < "3.14"
langchain-classic==1.0.8 ; python_version >= "3.13" and python_version < "3.14"
langchain-community==0.4.2 ; python_version >= "3.13" and python_version < "3.14"
langchain-core==1.5.1 ; python_version >= "3.13" and python_version < "3.14"
langchain-protocol==0.0.18 ; python_version >= "3.13" and python_version < "3.14"
langchain-text-splitters==1.1.2 ; python_version >= "3.13" and python_version < "3.14"
langchain==1.3.14 ; python_version >= "3.13" and python_version < "3.14"
langgraph-checkpoint==4.1.1 ; python_version >= "3.13" and python_version < "3.14"
langgraph-prebuilt==1.1.0 ; python_version >= "3.13" and python_version < "3.14"
langgraph-sdk==0.4.2 ; python_version >= "3.13" and python_version < "3.14"
langgraph==1.2.9 ; python_version >= "3.13" and python_version < "3.14"
langsmith==0.9.8 ; python_version >= "3.13" and python_version < "3.14"
lazy-object-proxy==1.12.0 ; python_version >= "3.13" and python_version < "3.14"
libclang==18.1.1 ; python_version >= "3.13" and python_version < "3.14"
llvmlite==0.47.0 ; python_version >= "3.13" and python_version < "3.14"
markdown-it-py==4.2.0 ; python_version >= "3.13" and python_version < "3.14"
markdown==3.10.2 ; python_version >= "3.13" and python_version < "3.14"
markupsafe==3.0.3 ; python_version >= "3.13" and python_version < "3.14"
matplotlib==3.11.1 ; python_version >= "3.13" and python_version < "3.14"
mccabe==0.6.1 ; python_version >= "3.13" and python_version < "3.14"
mdurl==0.1.2 ; python_version >= "3.13" and python_version < "3.14"
ml-dtypes==0.5.4 ; python_version >= "3.13" and python_version < "3.14"
mpmath==1.3.0 ; python_version >= "3.13" and python_version < "3.14"
multidict==6.7.1 ; python_version >= "3.13" and python_version < "3.14"
munkres==1.1.4 ; python_version >= "3.13" and python_version < "3.14"
mypy-boto3-s3==1.43.50 ; python_version >= "3.13" and python_version < "3.14"
namex==0.1.0 ; python_version >= "3.13" and python_version < "3.14"
narwhals==2.24.0 ; python_version >= "3.13" and python_version < "3.14"
networkx==3.6.1 ; python_version >= "3.13" and python_version < "3.14"
numba==0.65.1 ; python_version >= "3.13" and python_version < "3.14"
numpy==2.4.6 ; python_version >= "3.13" and python_version < "3.14"
nvidia-cublas==13.1.1.3 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-cupti==13.0.85 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" or (sys_platform == "linux" or sys_platform == "win32") and platform_machine == "x86_64" and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-nvrtc==13.0.88 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-runtime==13.0.96 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" or (sys_platform == "linux" or sys_platform == "win32") and platform_machine == "x86_64" and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cudnn-cu13==9.20.0.48 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cufft==12.0.0.61 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" or (sys_platform == "linux" or sys_platform == "win32") and platform_machine == "x86_64" and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cufile==1.15.1.6 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-curand==10.4.0.35 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" or (sys_platform == "linux" or sys_platform == "win32") and platform_machine == "x86_64" and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cusolver==12.0.4.66 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" or (sys_platform == "linux" or sys_platform == "win32") and platform_machine == "x86_64" and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-cusparse==12.6.3.3 ; (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-cusparselt-cu13==0.8.1 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-nccl-cu13==2.29.7 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvjitlink==13.3.33 ; (sys_platform == "linux" or sys_platform == "win32") and (sys_platform == "linux" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" and (platform_machine == "aarch64" or platform_machine == "x86_64")
nvidia-nvshmem-cu13==3.4.5 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvtx==13.0.85 ; sys_platform == "linux" and (platform_machine == "aarch64" or platform_machine == "x86_64") and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux" or (sys_platform == "linux" or sys_platform == "win32") and platform_machine == "x86_64" and python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
opt-einsum==3.4.0 ; python_version >= "3.13" and python_version < "3.14"
optree==0.19.1 ; python_version >= "3.13" and python_version < "3.14"
orjson==3.11.9 ; python_version >= "3.13" and python_version < "3.14"
ormsgpack==1.12.2 ; python_version >= "3.13" and python_version < "3.14"
packaging==24.2 ; python_version >= "3.13" and python_version < "3.14"
pandas==2.3.3 ; python_version >= "3.13" and python_version < "3.14"
pillow==12.3.0 ; python_version >= "3.13" and python_version < "3.14"
platformdirs==4.11.0 ; python_version >= "3.13" and python_version < "3.14"
plotly==6.9.0 ; python_version >= "3.13" and python_version < "3.14"
pluggy==1.6.0 ; python_version >= "3.13" and python_version < "3.14"
propcache==0.3.2 ; python_version >= "3.13" and python_version < "3.14"
protobuf==5.29.6 ; python_version >= "3.13" and python_version < "3.14"
psycopg2-binary==2.9.12 ; python_version >= "3.13" and python_version < "3.14"
py-cpuinfo==9.0.0 ; python_version >= "3.13" and python_version < "3.14"
pydantic-core==2.46.4 ; python_version >= "3.13" and python_version < "3.14"
pydantic-settings==2.14.2 ; python_version >= "3.13" and python_version < "3.14"
pydantic==2.13.4 ; python_version >= "3.13" and python_version < "3.14"
pygments==2.20.0 ; python_version >= "3.13" and python_version < "3.14"
pylint==2.17.7 ; python_version >= "3.13" and python_version < "3.14"
pynndescent==0.6.0 ; python_version >= "3.13" and python_version < "3.14"
pyparsing==3.3.2 ; python_version >= "3.13" and python_version < "3.14"
pytest-asyncio==0.21.2 ; python_version >= "3.13" and python_version < "3.14"
pytest-cov==4.1.0 ; python_version >= "3.13" and python_version < "3.14"
pytest-mock==3.15.1 ; python_version >= "3.13" and python_version < "3.14"
pytest==9.1.1 ; python_version >= "3.13" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.13" and python_version < "3.14"
python-dotenv==1.2.2 ; python_version >= "3.13" and python_version < "3.14"
python-multipart==0.0.32 ; python_version >= "3.13" and python_version < "3.14"
pytz==2026.3.post1 ; python_version >= "3.13" and python_version < "3.14"
pyyaml==6.0.3 ; python_version >= "3.13" and python_version < "3.14"
rank-bm25==0.2.2 ; python_version >= "3.13" and python_version < "3.14"
regex==2025.11.3 ; python_version >= "3.13" and python_version < "3.14"
requests-toolbelt==1.0.0 ; python_version >= "3.13" and python_version < "3.14"
requests==2.34.2 ; python_version >= "3.13" and python_version < "3.14"
rich==15.0.0 ; python_version >= "3.13" and python_version < "3.14"
s3transfer==0.13.1 ; python_version >= "3.13" and python_version < "3.14"
safetensors==0.8.0 ; python_version >= "3.13" and python_version < "3.14"
scikit-learn==1.9.0 ; python_version >= "3.13" and python_version < "3.14"
scipy==1.18.0 ; python_version >= "3.13" and python_version < "3.14"
sentence-transformers==5.6.1 ; python_version >= "3.13" and python_version < "3.14"
sentencepiece==0.2.2 ; python_version >= "3.13" and python_version < "3.14"
setuptools==81.0.0 ; python_version >= "3.13" and python_version < "3.14"
shellingham==1.5.4 ; python_version >= "3.13" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.13" and python_version < "3.14"
sniffio==1.3.1 ; python_version >= "3.13" and python_version < "3.14"
snorkel==0.10.0 ; python_version >= "3.13" and python_version < "3.14"
sqlalchemy==2.0.51 ; python_version >= "3.13" and python_version < "3.14"
starlette==1.3.1 ; python_version >= "3.13" and python_version < "3.14"
sympy==1.14.0 ; python_version >= "3.13" and python_version < "3.14"
tenacity==9.1.4 ; python_version >= "3.13" and python_version < "3.14"
tensorboard-data-server==0.7.2 ; python_version >= "3.13" and python_version < "3.14"
tensorboard==2.20.0 ; python_version >= "3.13" and python_version < "3.14"
tensorflow==2.20.0 ; python_version >= "3.13" and python_version < "3.14"
termcolor==3.3.0 ; python_version >= "3.13" and python_version < "3.14"
tf-keras==2.20.1 ; python_version >= "3.13" and python_version < "3.14"
threadpoolctl==3.6.0 ; python_version >= "3.13" and python_version < "3.14"
tokenizers==0.22.2 ; python_version >= "3.13" and python_version < "3.14"
tomlkit==0.15.1 ; python_version >= "3.13" and python_version < "3.14"
torch==2.13.0 ; python_version >= "3.13" and python_version < "3.14"
torchvision==0.28.0 ; python_version >= "3.13" and python_version < "3.14"
tqdm==4.70.0 ; python_version >= "3.13" and python_version < "3.14"
transformers==5.14.1 ; python_version >= "3.13" and python_version < "3.14"
triton==3.7.1 ; python_version >= "3.13" and python_version < "3.14" and platform_system == "Linux"
truststore==0.10.4 ; python_version >= "3.13" and python_version < "3.14"
typer==0.27.0 ; python_version >= "3.13" and python_version < "3.14"
types-awscrt==0.27.6 ; python_version >= "3.13" and python_version < "3.14"
types-s3transfer==0.13.1 ; python_version >= "3.13" and python_version < "3.14"
typing-extensions==4.16.0 ; python_version >= "3.13" and python_version < "3.14"
typing-inspection==0.4.2 ; python_version >= "3.13" and python_version < "3.14"
tzdata==2026.3 ; python_version >= "3.13" and python_version < "3.14"
umap-learn==0.5.12 ; python_version >= "3.13" and python_version < "3.14"
urllib3==2.7.0 ; python_version >= "3.13" and python_version < "3.14"
uuid-utils==0.17.0 ; python_version >= "3.13" and python_version < "3.14"
uvicorn==0.35.0 ; python_version >= "3.13" and python_version < "3.14"
websockets==15.0.1 ; python_version >= "3.13" and python_version < "3.14"
werkzeug==3.1.8 ; python_version >= "3.13" and python_version < "3.14"
wheel==0.47.0 ; python_version >= "3.13" and python_version < "3.14"
wrapt==1.17.3 ; python_version >= "3.13" and python_version < "3.14"
xxhash==3.8.1 ; python_version >= "3.13" and python_version < "3.14"
yarl==1.24.5 ; python_version >= "3.13" and python_version < "3.14"
zstandard==0.25.0 ; python_version >= "3.13" and python_version < "3.14"
