absl-py==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
aiofiles==23.2.1 ; python_version >= "3.10" and python_version < "3.11"
aiohappyeyeballs==2.4.4 ; python_version >= "3.10" and python_version < "3.11"
aiohttp==3.11.11 ; python_version >= "3.10" and python_version < "3.11"
aiosignal==1.3.2 ; python_version >= "3.10" and python_version < "3.11"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
anyio==4.7.0 ; python_version >= "3.10" and python_version < "3.11"
argcomplete==3.5.2 ; python_version >= "3.10" and python_version < "3.11"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.10" and python_version < "3.11"
argon2-cffi==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
astroid==2.15.8 ; python_version >= "3.10" and python_version < "3.11"
astunparse==1.6.3 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==24.3.0 ; python_version >= "3.10" and python_version < "3.11"
bertopic==0.14.1 ; python_version >= "3.10" and python_version < "3.11"
black==24.10.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2024.12.14 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.17.1 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.4.0 ; python_version >= "3.10" and python_version < "3.11"
clamd==1.0.2 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.8 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and (sys_platform == "win32" or platform_system == "Windows")
contourpy==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
coverage[toml]==7.6.9 ; python_version >= "3.10" and python_version < "3.11"
ctransformers==0.2.27 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
cython==0.29.37 ; python_version >= "3.10" and python_version < "3.11"
dataclasses-json==0.6.7 ; python_version >= "3.10" and python_version < "3.11"
datamodel-code-generator==0.25.6 ; python_version >= "3.10" and python_version < "3.11"
dill==0.3.9 ; python_version >= "3.10" and python_version < "3.11"
dm-tree==0.1.8 ; python_version >= "3.10" and python_version < "3.11"
dnspython==2.7.0 ; python_version >= "3.10" and python_version < "3.11"
email-validator==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
faiss-cpu==1.8.0.post1 ; python_version >= "3.10" and python_version < "3.11"
fastapi-versioning==0.10.0 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.115.6 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.16.1 ; python_version >= "3.10" and python_version < "3.11"
flatbuffers==24.3.25 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
fonttools==4.49.0 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2024.12.0 ; python_version >= "3.10" and python_version < "3.11"
gast==0.6.0 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
genson==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
glibc==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
google-pasta==0.2.0 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
gpt4all==1.0.12 ; python_version >= "3.10" and python_version < "3.11"
greenlet==3.1.1 ; python_version < "3.11" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.10"
grpcio==1.68.1 ; python_version >= "3.10" and python_version < "3.11"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
h5py==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
hdbscan==0.8.33 ; python_version >= "3.10" and python_version < "3.11"
httpcore==0.17.3 ; python_version >= "3.10" and python_version < "3.11"
httpx-sse==0.4.0 ; python_version >= "3.10" and python_version < "3.11"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "3.11"
huggingface-hub==0.27.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.7 ; python_version >= "3.10" and python_version < "3.11"
inflect==5.6.2 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
isort==5.13.2 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.5 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.11"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.11"
jsonpointer==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
keras==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.7 ; python_version >= "3.10" and python_version < "3.11"
langchain-community==0.3.13 ; python_version >= "3.10" and python_version < "3.11"
langchain-core==0.3.27 ; python_version >= "3.10" and python_version < "3.11"
langchain-text-splitters==0.3.3 ; python_version >= "3.10" and python_version < "3.11"
langchain==0.3.13 ; python_version >= "3.10" and python_version < "3.11"
langsmith==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
lazy-object-proxy==1.10.0 ; python_version >= "3.10" and python_version < "3.11"
libclang==18.1.1 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
llvmlite==0.43.0 ; python_version >= "3.10" and python_version < "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
markdown==3.7 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==3.0.2 ; python_version >= "3.10" and python_version < "3.11"
marshmallow==3.23.2 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
minio==7.2.13 ; python_version >= "3.10" and python_version < "3.11"
ml-dtypes==0.3.2 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
multidict==6.1.0 ; python_version >= "3.10" and python_version < "3.11"
munkres==1.1.4 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
namex==0.0.8 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.4.2 ; python_version >= "3.10" and python_version < "3.11"
nltk==3.9.1 ; python_version >= "3.10" and python_version < "3.11"
numba==0.60.0 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.24.3 ; python_version >= "3.10" and python_version < "3.11"
nvidia-cublas-cu12==12.4.5.8 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cuda-cupti-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cuda-nvrtc-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cuda-runtime-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cufft-cu12==11.2.1.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-curand-cu12==10.3.5.147 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cusolver-cu12==11.6.1.9 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-cusparse-cu12==12.3.1.170 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-nccl-cu12==2.21.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-nvjitlink-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
nvidia-nvtx-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.11"
opt-einsum==3.4.0 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
orjson==3.10.12 ; python_version >= "3.10" and python_version < "3.11" and platform_python_implementation != "PyPy"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.11"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.11"
pathspec==0.12.1 ; python_version >= "3.10" and python_version < "3.11"
pillow==10.3.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==4.3.6 ; python_version >= "3.10" and python_version < "3.11"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
propcache==0.2.1 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.25.5 ; python_version >= "3.10" and python_version < "3.11"
psycopg2-binary==2.9.10 ; python_version >= "3.10" and python_version < "3.11"
py-cpuinfo==9.0.0 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.22 ; python_version >= "3.10" and python_version < "3.11"
pycryptodome==3.21.0 ; python_version >= "3.10" and python_version < "3.11"
pydantic-core==2.18.4 ; python_version >= "3.10" and python_version < "3.11"
pydantic-settings==2.4.0 ; python_version >= "3.10" and python_version < "3.11"
pydantic==2.7.4 ; python_version >= "3.10" and python_version < "3.11"
pydantic[email]==2.7.4 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.11"
pylint==2.17.7 ; python_version >= "3.10" and python_version < "3.11"
pynndescent==0.5.13 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
pytest-asyncio==0.21.2 ; python_version >= "3.10" and python_version < "3.11"
pytest-cov==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
pytest-mock==3.14.0 ; python_version >= "3.10" and python_version < "3.11"
pytest==7.4.4 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
python-multipart==0.0.18 ; python_version >= "3.10" and python_version < "3.11"
pytz==2024.2 ; python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.11"
rank-bm25==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
regex==2024.11.6 ; python_version >= "3.10" and python_version < "3.11"
requests-toolbelt==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.11"
rich==13.9.4 ; python_version >= "3.10" and python_version < "3.11"
safetensors==0.4.5 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.12.0 ; python_version >= "3.10" and python_version < "3.11"
sentence-transformers==2.3.0 ; python_version >= "3.10" and python_version < "3.11"
sentencepiece==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
setuptools==70.0.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
snorkel==0.9.9 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy==2.0.36 ; python_version >= "3.10" and python_version < "3.11"
starlette==0.41.3 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.13.1 ; python_version >= "3.10" and python_version < "3.11"
tenacity==9.0.0 ; python_version >= "3.10" and python_version < "3.11"
tensorboard-data-server==0.7.2 ; python_version >= "3.10" and python_version < "3.11"
tensorboard==2.16.0 ; python_version >= "3.10" and python_version < "3.11"
tensorflow-io-gcs-filesystem==0.37.1 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
tensorflow==2.16.2 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
termcolor==2.5.0 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
tf-keras-nightly==2.16.0.dev2024021410 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "3.11"
tokenizers==0.15.2 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.10" and python_version < "3.11"
torch==2.5.1 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.11"
transformers==4.38.1 ; python_version >= "3.10" and python_version < "3.11"
triton==3.1.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.11" and python_version >= "3.10"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2024.2 ; python_version >= "3.10" and python_version < "3.11"
umap-learn==0.5.7 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.0.7 ; python_version >= "3.10" and python_version < "3.11"
uvicorn==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
werkzeug==3.0.6 ; python_version >= "3.10" and python_version < "3.11"
wheel==0.45.1 ; python_version >= "3.10" and python_version < "3.11" and platform_machine == "x86_64"
wrapt==1.17.0 ; python_version >= "3.10" and python_version < "3.11"
yarl==1.18.3 ; python_version >= "3.10" and python_version < "3.11"
